[alias]
	st = status
	ci = commit
	co = checkout
	amend = commit --amend --no-edit
	graph = log --graph --pretty='%C(auto)%<|(14)%h %C(green)%<|(28,trunc)%an%C(auto) %C(blue)%ad%C(auto)%d %s' --date=format:'%d %b %H:%M'
	up = graph --all
	copy-commit-message = "!sh -c 'revision=\"$1\"; shift; git rev-list --format=%B --max-count 1 \"${revision}\" | sed \"1!p\" -n | xargs -0 -I{} git commit -m \"{}\" \"$@\"' -"
	difftool = difftool --dir-diff
	review = log --patience --patch --reverse dev..

[user]
	name = Robin Moussu
	email = moussu.robin@pm.me

[rebase]
	autosquash = true

[rerere]
	enabled = true

[diff]
	tool = meld

[difftool]
	prompt = false

[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"

[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool]
	prompt = false

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
